@font-face {
  font-family: RobotoRegular;
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: RobotoLight;
  src: url('../fonts/Roboto-Light.eot');
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Light.woff2') format('woff2'),
  url('../fonts/Roboto-Light.woff') format('woff'),
  url('../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
//-----------------btn---------------------*/
.btn1{
  background-color: #ed2124;
  font-family: RobotoRegular;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: left;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease;
  &:hover{
    background: #348cbc;
  }
  &:active{
    background: #348cbc;
  }
}
.btn-margin{
  margin-top: 40px;
}
.btn-width{
  width: 271px;
  height: 57px;
}
.btn-article{
  width: 232px;
  height: 57px;
}

.btn2{
  outline: 2px solid #348cbc;
  outline-offset: -2px;
  color: #348cbc;
  font-family: RobotoRegular;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.38px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.3s ease;
  &:hover{
    background: #348cbc;
    outline: 2px solid #348cbc;
    color: #fff;
  }
  &:active, &:focus{
    background: #348cbc;
    outline: 2px solid #348cbc;
    color: #fff;
  }
}
///fix btn to top
#button {
  display: inline-block;
  background-image: url("../img/arrow.jpg");
  background-position: center;
  width: 50px;
  height: 50px;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-image .3s,
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

//-----------------------end btn ------------------*/
.page-wraper{
  max-width:1260px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.contain-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px;
  max-width: 1100px;
  padding-top: 18px;
  position: relative;
}
.head-main-block{
  background: url("../img/main-bg.png") no-repeat top center;
  background-size: cover;
  background-position-y: -10px;
  background-position-x: -150px;
}
.header{
  //transform: translateY(0px);
  transition: transform .3s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.logo.fixed img {
  width: 131px;
  height: 53px;
  transition: 0.3s;
}
.contain-header.fixed{
  max-width: 1260px;
  margin: 0 auto;
  padding: 18px 39px;
}
.header.fixed{
  position: fixed;
  top: -50px;
  left: 0;
  width: 100%;
  transform: translateY(50px);
  transition: transform .3s ease;
  background: #fff;
  z-index: 5;
  .wrap-menu{
    justify-content: center;
    .menu-top{
      display: none;
    }
  }
}



.wrap-menu{
  display: flex;
  flex-direction: column;
  .menu-top{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 38px;
    a{
      font-family: RobotoLight;
      font-size: 13px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #9a9a9a;
      margin-left: 37px;
      padding-left: 19px;
      text-decoration: none;
      position: relative;
      &:nth-child(1):before{
        content: '';
        background: url("../img/phone-icon.png") center no-repeat;
        background-size: contain;
        width: 11px;
        height: 13px;
        position: absolute;
        top: 0;
        left: 0;
      }
      &:nth-child(2):before{
        content: '';
        background: url("../img/email-icon.png") center no-repeat;
        background-size: contain;
        width: 11px;
        height: 13px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  .menu-bottom{
    ul{
      list-style-type: none;
      display: flex;
      flex-direction: row;
      text-align: right;
      justify-content: flex-end;
      li{
        margin-left: 25px;
        &:nth-child(1){
          display: none;
        }
        a{
          text-decoration: none;
          font-family: RobotoRegular;
          font-size: 13px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.3px;
          text-align: right;
          color: #585858;
          text-transform: uppercase;
          transition: 0.3s ease;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.contain-banner{
  padding: 0 30px;
  max-width: 1100px;
}
.banner-data{
  padding-top: 264px;
  max-width: 615px;
  margin-bottom: 139px;
  h1{
    font-family: RobotoLight;
    font-size: 40px;
    line-height: 0.97;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2e2e2e;
    max-width: 600px;
    span{
      font-size: 26px;
      line-height: 1.5;
    }
  }
  p{
    margin-top: 18px;
    font-family: RobotoLight;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #585858;
    max-width: 520px;
  }
}

.features{
  position: relative;
  z-index: 1;
  &:before{
    content: '';
    background: url("../img/line-red.png") center no-repeat;
    position: absolute;
    top: 147px;
    left: 0;
    width: 100%;
    height: 374px;
    z-index: -1;
  }
  .page-wraper {
    .features-wrapper {
      background: rgba(52, 140, 188, 0.97);
      box-shadow: 0px 15px 55px 0 rgba(0, 88, 136, 0.45);
      padding: 109px 231px 108px;
      h2 {
        font-family: RobotoLight;
        font-size: 40px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        text-align: center;
      }
      .features-contain {
        margin-top: 39px;
        display: flex;
        justify-content: space-between;
        ul {
          list-style-type: none;
          &:nth-child(2) {
            width: 326px;
          }
          li {
            padding: 16px 0;
            display: flex;
            align-items: stretch;
            img {
              height: 45px;
              width: 45px;
            }
            span {
              font-family: RobotoRegular;
              font-size: 16px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.35;
              letter-spacing: normal;
              text-align: left;
              color: #ffffff;
              margin-left: 21px;
              display: flex;
              align-items: center;
            }
          }
        }
      }
      p {
        margin: 34px auto 0;
        max-width: 470px;
        font-family: RobotoLight;
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.63;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
      }
    }
  }
}
.grid-wrap{
  position: relative;
  .grid{
    background: url("../img/grid.png") center no-repeat;
    position: absolute;
    top: -334px;
    left: 0;
    width: 100%;
    height: 344px;
    z-index: -2;
    opacity: 0.3;
  }
}
.article-contain{
  padding-bottom: 138px;
  article{
    margin-top: 105px;
    padding: 0 35px;
    h2{
      color: #2e2e2e;
      font-family: RobotoLight;
      font-size: 40px;
      font-weight: 300;
      text-align: center;
      word-wrap: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
    }
    .wrap-article-content .wrap-article{
      display: flex;
      padding-top: 56px;
      .left-content{
        position: relative;
        flex-shrink: 0;
        &:after{
          content: '';
          border: 22px solid #348cbc;
          position: absolute;
          top: 34px;
          left: -35px;
          width: 427px;
          height: 314px;
          z-index: -1;
        }
        img{
          width: 471px;
          height: 358px;
        }
      }
      .right-content{
        margin-left: 51px;
        .data-list{
          ul{
            list-style-type: none;
            li{
              color: #585858;
              font-family: RobotoLight;
              font-size: 16px;
              font-weight: 300;
              line-height: 30px;
              padding-left: 19px;
              position: relative;
              &:before{
                content: '';
                background: #348cbc;
                height: 7px;
                width: 7px;
                position: absolute;
                top: 10px;
                left: 0;
              }
            }
          }
          a{
            color: #348cbc;
            font-family: RobotoRegular;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-decoration: underline;
            padding-top: 8px;
            display: inline-block;
            &:hover{
              text-decoration: none;
            }
          }
        }
        .right-content-btn{
          margin-top: 20px;
          display: flex;
          flex-wrap: wrap;
          a{
            margin-top: 20px;
          }
          a:first-child{
            margin-right: 21px;
          }
        }
      }
    }
  }
  article:nth-child(even){
    .wrap-article-content .wrap-article {
      display: flex;
      flex-direction: row-reverse;
      .left-content{
        position: relative;
        &:after{
          content: '';
          border: 22px solid #348cbc;
          position: absolute;
          top: 34px;
          right: -35px;
          left: inherit;
          width: 427px;
          height: 314px;
          z-index: -1;
        }
      }
      .right-content{
        margin-left: 0;
        margin-right: 29px;
      }
    }
  }
}
.feedback{
  background: #348cbc;
  padding: 107px 0 172px;
  h2{
    color: #ffffff;
    font-family: RobotoLight;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
  }
  .feedback-wrapper{
    max-width: 965px;
    padding: 0 15px;
    margin: 35px auto 0;
    position: relative;
    .feedback-contain{
      border: solid 22px #3a90be;
      padding: 34px 65px;
      div{
        position: relative;
        p{
          font-family: RobotoLight;
          font-size: 16px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.63;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
        }
      }
    }
    .wrap-slider-for{
      margin-top: -55px;
      margin-right: 62px;
      .slider-for{
        div{
          span{
            max-width: 1000px;
            display: block;
            text-align: right;
            i{
              font-family: RobotoRegular;
              font-size: 20px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.3;
              letter-spacing: normal;
              color: #ffffff;
              background: #348cbc;
              padding: 10px 27px;
            }
          }
        }
      }
    }
  }
}
.slick-dots{
  bottom: -82px!important;
  left: 0;
}
.slick-dots li button:before{
  content: ''!important;
  width: 15px!important;
  height: 15px!important;
  opacity: 0.2;
  background: #fff;
  border-radius: 100%;
}
.slick-dots li, .slick-dots li button{
  width: 15px!important;
  height: 15px!important;
}
.slick-dots li{
  margin: 0 12.5px!important;
}

.contact{
  max-width: 1200px;
  padding: 93px 50px 108px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: relative;
  .wrap-right-data{
    position: relative;
  }
  .left-data{
    h2{
      font-family: RobotoLight;
      font-size: 40px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #2e2e2e;
      margin-top: 22px;
      margin-bottom: 32px;
    }
    ul{
      list-style-type: none;
      li{
        font-family: RobotoLight;
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.81;
        letter-spacing: normal;
        text-align: left;
        color: #2e2e2e;
        position: relative;
        padding-left: 33px;
        &:nth-child(1){
          margin-top: 29px;
        }
        &:nth-child(2):before{
          content: '';
          background: url("../img/phone-blue-icon.png") center no-repeat;
          background-size: contain;
          width: 16px;
          height: 17px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }
        &:nth-child(1):before{
          content: '';
          background: url("../img/email-blue-icon.png") center no-repeat;
          background-size: contain;
          width: 18px;
          height: 18px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }
        &:nth-child(3):before{
          content: '';
          background: url("../img/flag-icon.png") center no-repeat;
          background-size: contain;
          width: 12px;
          height: 18px;
          position: absolute;
          top: 10px;
          //top: 50%;
          //transform: translateY(-50%);
          left: 0;
        }
        a{
          text-decoration: none;
          font-family: RobotoLight;
          font-size: 16px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.81;
          letter-spacing: normal;
          text-align: left;
          color: #2e2e2e;
        }
      }
    }
  }
  .right-data{
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0px 15px 55px 0 rgba(0, 88, 136, 0.45);
    background-color: #ffffff;
    border: solid 22px #348cbc;
    padding: 35px 55px 65px;
    margin-right: 33px;
    form{
      ul{
        list-style-type: none;
        li{
          display: flex;
          flex-direction: column;
          margin-top: 39px;
          width: 352px;
          label{
            font-family: RobotoRegular;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.63;
            letter-spacing: normal;
            text-align: left;
            color: #2e2e2e;
          }
          input{
            font-family: RobotoLight;
            font-size: 16px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.63;
            letter-spacing: normal;
            text-align: left;
            color: #2e2e2e;
            border: none;
            outline: none;
            border-bottom: solid 2px #3a90be;
          }
          textarea{
            overflow:hidden;
            resize: vertical;
            font-family: RobotoLight;
            font-size: 16px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.63;
            letter-spacing: normal;
            text-align: left;
            color: #2e2e2e;
            border: none;
            outline: none;
            border-bottom: solid 2px #3a90be;
          }
        }
      }
      button{
        border: none;
        outline: none;
        width: 100%;
        height: 57px;
        cursor: pointer;
        margin-top: 33px;
      }
    }
  }
}
.check{
  display: flex;
  margin-top: 35px;
  p{
    padding-left: 10px;
    margin-left: 23px;
    font-family: RobotoLight;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: #2e2e2e;
    max-width: 230px;
    position: relative;
    &:before{
      content: '*';
      position: absolute;
      top: 0;
      left: 0;
    }

    a{
      color: #348cbc;
    }
  }
}
.regular-checkbox {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: solid 2px #3a90be;
  width: 21px;
  height: 21px;
  margin: 0;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.regular-checkbox:checked {
  border: solid 2px #3a90be;
  color: #99a1a7;
}
.regular-checkbox:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #99a1a7;
}

#map {
  width: 100%;
  height: 581px;
}

footer{
  background-color: #348cbc;
  padding: 30px 15px 27px;
  .page-wraper{
    display: flex;
    justify-content: space-between;
    .left{
      span:first-child{
        margin-right: 20px;
      }
    }
    .right{
      span:first-child{
        margin-right: 20px;
      }
    }
  }
  span, a{
    font-family: RobotoRegular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
  }
  a{
    transition: 0.3s ease;
    &:hover{
      text-decoration: underline;
    }
  }
}
.popup-wrap h5 {
  font-family: RobotoRegular;
  font-size: 40px;
  text-align: center;
  color: #2e2e2e;
}
#mehr1 .popup-wrap{
  padding: 0 70px;
}
#success-message {
  max-width: 540px;
  //display: none;
}
.error{
  font-family: RobotoRegular;
  color: #d11010;
  font-size: 14px;
  padding: 10px 0;
}
.popup-wrap-data{
  h4 {
    font-family: RobotoLight;
    font-size: 40px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #348cbc;
  }
    .popup-wrap-content{
      .wrap-content{
        display: flex;
        margin-top: 34px;
        justify-content: space-between;
        align-items: start;
        .left{
          flex-shrink: 0;
          img{
            width: 275px;
            height: 215px;
          }
        }
        .right{
          margin-left: 31px;
          p{
            font-family: RobotoLight;
            font-size: 16px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.63;
            letter-spacing: 0.2px;
            text-align: left;
            color: #2e2e2e;
          }
        }
      }
      .wrap-content-data{
        margin-top: 54px;
        h5{
          font-family: RobotoRegular;
          font-size: 20px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: 0.2px;
          text-align: left;
          color: #2e2e2e;
        }
        a {
          color: #348cbc;
        }
        p{
          font-family: RobotoLight;
          font-size: 16px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.63;
          letter-spacing: 0.2px;
          text-align: left;
          color: #2e2e2e;
          margin-top: 14px;
          span, a{
            color: #348cbc;
            text-decoration: underline;
          }
        }
      }
      .popup-bottom-block{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 43px;
        p{
          font-family: RobotoRegular;
          font-size: 27.3px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #348cbc;
          span{
            font-family: RobotoRegular;
            font-size: 60.6px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #348cbc;
            padding: 0 10px;
          }
        }
        .right-content-btn{
          margin-top: 0!important;
          display: flex;
          .btn1{
            color: #fff;
          }
          .btn2{
            color: #348cbc;
            margin-left: 45px;
            &:hover, &:focus{
              color: #fff;
            }
          }
          a:last-child{
            margin: 20px 23px 0 10px;
          }
          a{
            margin: 20px 10px 0;
          }
        }
      }
    }
  }


@media (max-width: 1150px) {
  .article-contain article .wrap-article-content .right-content .right-content-btn{
    margin-top: 20px;
    a{
      margin-top: 20px;
    }
  }
  .right-content-btn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    a{
      margin-top: 20px;
    }
    a:first-child{
      margin-right: 21px;
    }
  }
}

@media (max-width: 1380px) {
  .head-main-block {
    background-position-x: -455px;
  }
}

@media (max-width: 1045px) {
  .contain-header{
    padding: 18px 15px 0;
  }
  .contain-banner{
    padding: auto 0;
  }
  .features .page-wraper .features-wrapper{
    padding: 115px 53px 113px;
  }
  .contact .left-data ul li{
    max-width: 290px;
  }
}
.burger-wrap{
  display: none;
}
@media (max-width: 992px) {
  #mehr1 .popup-wrap {
    padding: 0 40px;
  }
  .contain-header {
    padding: 18px 24px 0;
    align-items: center;
  }
  .contain-header.fixed {
    padding: 10px 24px;
  }
  .contain-banner {
    padding: 0 9px;
  }
  .logo img{
    width: 131px;
    height: 53px;
  }
  .wrap-menu .menu-top{
    margin-bottom: 0;
  }
  .wrap-menu .menu-bottom ul.menu-m{
    li{
      &:first-child{
        display: inline-block;
        font-family: RobotoLight;
        font-size: 40px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
      }
    }
    flex-direction: column;
  }
  .wrap-menu{
    flex-direction: row;
  }
  .burger-wrap{
    width: 29px;
    height: 27px;
    position: relative;
    display: block;
    .burger{
      vertical-align: middle;
      display: inline-block;
      width: 29px;
      height: 27px;
      position: absolute;
      cursor: pointer;
      z-index: 4;
      .burger-line{
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background: #348cbc;
        transition: .2s ease;
        &.active{
          background: #fff;
        }
        &:first-child {
          top: 0;
        }
        &:first-child.active {
          display: none;
        }
        &:nth-child(2){
          top: 50%;
          transform: translateY(-50%);
        }
        &:nth-child(2).active{
          transform: rotate(45deg);
        }
        &:nth-child(3){
          top: 50%;
          transform: translateY(-50%);
        }
        &:nth-child(3).active{
          transform: rotate(-45deg);
        }
        &:nth-child(4){
          bottom: 0;
        }
        &:nth-child(4).active{
          display: none;
        }
      }
    }
  }
  .wrap-menu .menu-bottom{
    position: absolute;
    top: 0;
    right: -15px;
    background-color: #2a7eac;
    padding: 74px 81px 84px 42px;
    display: none;
    opacity: 0;
    transition: 0.3s ease;
    z-index: 2;
    &.active{
      display: inline;
      opacity: 1;
    }
    .menu-m{
      text-align: left;
      li{
        a{
          font-family: RobotoLight;
          font-size: 14px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 4.29;
          letter-spacing: 0.4px;
          text-align: left;
          color: #fefefe;
        }
        &:first-child{
          margin-bottom: 30px;
          text-transform: uppercase;
        }
      }
    }
  }
  .head-main-block {
    background-position-x: -645px;
  }
  .banner-data {
    padding-top: 213px;
    max-width: 500px;
    margin-bottom: 139px;
    h1{
      font-size: 34px;
      line-height: 1.1;
      span{
        font-size: 22px;
        line-height: 0;
      }
    }
    p{
      margin-top: 20px;
      font-size: 16px;
      line-height: 1.5;
      max-width: 405px;
    }
  }

  .features{
    .page-wraper{
      padding: 0;
      .features-wrapper p{
        margin-top: 15px;
      }
    }
  }
  .article-contain article .wrap-article-content .wrap-article .left-content{
    margin-left: -219px;
  }
  .article-contain article:nth-child(even) .wrap-article-content .wrap-article .left-content{
    margin-right: -219px;
    margin-left: auto;
  }
  .article-contain{
    overflow-x: hidden;
    padding-bottom: 116px;
    article {
      padding: 0 7px;
    }
  }
  .contact{
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 93px 15px 108px 0;
    .left-data{
      ul{
        li{
          margin-top: 0;
          max-width: 100%;
        }
      }
    }
    .right-data{
      position: relative;
      margin-right: 0;
      margin-top: 79px;
      form{
        ul{
          li{
            margin-top: 35px;
          }
        }
        button{
          margin-top: 23px;
        }
      }
    }
  }
  #map {
    margin-top: -93px;
  }
  .popup-wrap-data .popup-wrap-content .wrap-content-data h5 {
    line-height: 26px;
  }
}

@media (max-width: 845px) {
  .popup-wrap-data .popup-wrap-content .popup-bottom-block .right-content-btn{
    flex-direction: column;
    margin-left: 45px;
  }
  .popup-wrap-data .popup-wrap-content .popup-bottom-block .right-content-btn .btn2{
    margin-left: 10px;
  }
}

@media (max-width: 845px) {
  .right-content-btn {
    flex-wrap: wrap;
  }
  .popup-wrap-data .popup-wrap-content .popup-bottom-block .right-content-btn .btn2 {
    margin-left: 0px;
  }
  .popup-wrap-data .popup-wrap-content .popup-bottom-block .right-content-btn a, .popup-wrap-data .popup-wrap-content .popup-bottom-block .right-content-btn a:last-child{
    margin: 10px 0;
  }
  .popup-wrap-data .popup-wrap-content .popup-bottom-block {
    margin-top: 25px;
  }
  .popup-wrap-data .popup-wrap-content .wrap-content-data {
    margin-top: 50px;
  }

  .popup-wrap-data .popup-wrap-content .wrap-content .right p, .popup-wrap-data .popup-wrap-content .wrap-content-data p{
    font-size: 14px;
  }
  .popup-wrap-data .popup-wrap-content .popup-bottom-block p span {
    font-size: 65px;
  }
}
.contact-d{
  display: none;
}

@media (max-width: 640px) {
  .wrap-menu .menu-bottom .menu-m li{
    &.contact-d a{
      text-transform: lowercase;
    }
    &.contact1{
      position: relative;
      padding-left: 16px;
      &:before{
        content:'';
        background: url("../img/phone-white-icon.png") no-repeat center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 11px;
        height: 13px;
      }
    }
    &.contact2{
      position: relative;
      padding-left: 19px;
      &:before{
        content:'';
        background: url("../img/email-white-icon.png") no-repeat center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 12px;
        height: 14px;
      }
    }
  }
  .contact-d{
    display: block;
  }
  .wrap-menu .menu-top{
    display: none;
  }
  .features .page-wraper .features-wrapper{
    padding: 115px 20px 113px;
    .features-contain{
      flex-wrap: wrap;
    }
  }
  .banner-data {
    padding-top: 152px;
    max-width: 500px;
    margin-bottom: 247px;
  }

  .head-main-block {
    background-position-x: 50%;
    background-position-y: 155px;
  }
  .article-contain article .wrap-article-content .wrap-article .left-content, .article-contain article:nth-child(even) .wrap-article-content .wrap-article .left-content{
    margin-left: auto;
    margin-right: auto;
  }
  .article-contain article:nth-child(even) .wrap-article-content .wrap-article, .article-contain article .wrap-article-content .wrap-article {
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 16px;
  }
  .article-contain article:nth-child(even) .wrap-article-content .wrap-article .right-content{
    margin-right: 0;
  }
  .article-contain {
    overflow-x: visible;
    padding-bottom: 116px;
  }
  .article-contain article .wrap-article-content .wrap-article .left-content img {
    width: 100%;
    height: auto;
  }
  .article-contain article .wrap-article-content .wrap-article .right-content, .article-contain article .wrap-article-content .wrap-article .left-content {
    margin-left: auto;
    margin-right: auto;
  }
  .article-contain article {
    padding: 0 0px;
  }
  .img-wrap{
    position: relative;
  }
  .article-contain article:nth-child(even) .wrap-article-content .wrap-article .left-content{
    padding-right: 20px;
    padding-left: 0;
  }
  .article-contain article:nth-child(even) .wrap-article-content .wrap-article .left-content .img-wrap:after{
    content: '';
    border: 12px solid #348cbc;
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100% - 20px);
    height: calc(100% - 27px);
    z-index: -1;
  }
  .img-wrap:after{
    content: '';
    border: 12px solid #348cbc;
    position: absolute;
    top: 20px;
    left: -20px;
    width: calc(100% - 20px);
    height: calc(100% - 27px);
    z-index: -1;
  }
  .data-list{
    margin-top: 46px;
  }
  .article-contain article:nth-child(even) .wrap-article-content .wrap-article .left-content:after{
    content: none;
  }

  .article-contain article .wrap-article-content .wrap-article .left-content:after {
    content: none;
    border: 12px solid #348cbc;
    position: absolute;
    top: 30px;
    left: -15px;
    width: calc(100% - 30px);
    height: calc(100% - 15px);
    z-index: -1;
  }
  .article-contain article .wrap-article-content .wrap-article .left-content{
    padding: 20px 0 0 20px;
  }
  .wrap-menu .menu-bottom{
    width: 100%;
    left: 0;
    right: 0;
    padding: 74px 0 84px 0;
    .menu-m {
      text-align: left;
      margin: 0 auto;
      width: auto;
      max-width: 220px;
      li {
        margin-left: 0;
      }
    }
  }
  .contain-header{
    position: initial;
  }
  .feedback .feedback-wrapper .feedback-contain {
    border: none;
    padding: 39px 5px 34px;
  }
  .feedback .feedback-wrapper .wrap-slider-for {
    margin-top: -28px;
    margin-right: 0;
  }
  .feedback .feedback-wrapper .wrap-slider-for .slider-for div span{
    text-align: center;
  }
  .feedback .feedback-wrapper{
    margin: 0;
  }
  .popup-wrap-data .popup-wrap-content .wrap-content{
    flex-direction: column;
    align-items: flex-start;
    & .right{
      margin-left: 0;
      margin-top: 15px;
    }
  }
  .popup-wrap-data h4 {
    font-size: 32px;
    text-align: left;
  }
  .mfp-wrap{
    top: 0!important;
  }
}


@media (max-width: 600px) {
  .right-content-btn {
    flex-direction: column;
    align-items: center;
    a:first-child {
      margin-right: 0;
    }
    a:last-child{
      margin-top: 28px;
    }
  }
  .popup-wrap-data .popup-wrap-content .popup-bottom-block .right-content-btn{
    margin-left: 0;
  }
  .article-contain article h2 {
    text-align: left;
  }
  .btn-article{
    width: 100%;
  }
  .contact{
    overflow-x: hidden;
    padding: 93px 0 0;
    .left-data{
      padding: 0 15px;
    }
  }
  .contact .left-data ul li:nth-child(3):before{
    top: 10px;
  }
  .contact .right-data form ul li {
    width: 100%;
  }
  .wrap-right-data{
    width: 100%;
  }
  .contact .right-data {
    padding: 35px 15px 65px;
    border: none;
    border-top: solid 22px #348cbc;
    border-bottom: solid 22px #348cbc;
  }
  #map{
    height: 555px;
    margin-top: 0;
    margin-bottom: 23px;
  }
  footer .page-wraper {
    flex-direction: column;
    text-align: center;
    .right{
      margin-top: 34px;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      span:nth-child(2){
        margin-top: 17px;
      }
      span:first-child{
        margin-right: 0;
      }
    }
  }
  footer {
    padding: 53px 0 27px;
  }
  footer .page-wraper .left span:last-child {
    margin-left: 20px;
  }
  .head-main-block {
    background-position-y: 215px;
  }
  #button{
    bottom: 10px;
    right: 10px;
  }
  .popup-wrap-data .popup-wrap-content .popup-bottom-block{
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }
  .popup-wrap-data .popup-wrap-content .popup-bottom-block p{
    margin-bottom: 10px;
  }
  .popup-wrap-data .popup-wrap-content .popup-bottom-block .right-content-btn{
    width: 100%;
  }
  .popup-wrap {
    padding: 0 15px!important;
  }
}

@media (max-width: 400px) {
  .head-main-block{
    background: url("../img/main-bg-m.png") no-repeat top right;
    background-position-x: -400px;
    background-position-y: 385px;
  }
  .btn-width{
    width: 100%;
  }
  .popup-wrap {
    padding: 0 15px;
  }
}

.popup{
  margin: 0 auto;
  display: block;
  background: #fff;
  padding-top: 72px;
  padding-bottom: 72px;
  width: 100%;
  max-width: 940px;
  z-index: 99993;
  position: relative;
  overflow-y: auto;
  -webkit-overflow-scrolling:touch!important;
  &-close{
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
    span{
      top: 9px;
      left: -2px;
      background: #2a7eac;
      width: 25px;
      height: 2px;
      display: block;
      transform-origin: center;
      position: absolute;
      &:first-child{
        transform: rotateZ(45deg);
      }
      &:last-child{
        transform: rotateZ(-45deg);
      }
    }
  }
  &-wrap{
    padding: 0 40px;
    h6{
      font-family: RobotoRegular;
      font-size: 40px;
      text-align: center;
      color: #2e2e2e;
    }
    &-data{
      h1{
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 12px;
        color: #2e2e2e;
        font-family: RobotoLight;
      }
      h2{
        font-size: 20px;
        margin-bottom: 12px;
        margin-top: 8px;
        color: #2e2e2e;
        font-family: RobotoLight;
      }
      h3{
        font-size: 17px;
        color: #2e2e2e;
        font-family: RobotoLight;
      }
      p{
        margin-bottom: -5px;
        color: #2e2e2e;
        font-family: RobotoRegular;
      }
      a {
        color: #787878;
        color: #2e2e2e;
        font-family: RobotoLight;
      }
    }
  }
}
.mfp-close-btn-in .mfp-close{
  display: none;
}

// popup form
.mfp-fade.mfp-bg.mfp-ready{
  opacity: .7;
}
button.mfp-close{
  display: none;
}
.nice-select{
  width: 100%;
  font-family: RobotoRegular;
  font-size: 15px;
  color: #9d9d9d;
  margin-bottom: 7px;
  padding-left: 15px;
  border: 1px solid #9d9d9d;
  height: auto;
  .list{
    width: 101%;
  }
  span{
    display: inline-block;
    vertical-align: middle;
    //padding-top: 8px;
    color: #2a7eac;
  }
}
.nice-select .option{
  color: #2a7eac;
}
.form-popup{
  margin: 0 auto;
  display: block;
  background: #fff;
  padding-top: 72px;
  padding-bottom: 72px;
  width: 100%;
  max-width: 540px;
  z-index: 99993;
  position: relative;
  overflow-y: auto;
  -webkit-overflow-scrolling:touch!important;
  &-close{
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
    span{
      top: 9px;
      left: -2px;
      background: #2a7eac;
      width: 25px;
      height: 2px;
      display: block;
      transform-origin: center;
      position: absolute;
      &:first-child{
        transform: rotateZ(45deg);
      }
      &:last-child{
        transform: rotateZ(-45deg);
      }
    }
  }
  &-wrap{

    h5{
      font-family: RobotoRegular;
      font-size: 40px;
      text-align: center;
      color: #2e2e2e;
    }
  }
}
.form{
  .error{
    input[type='text'],
    input[type='email'],
    input[type='number']{
      border-color: red;
      color: red;
    }
  }
  h6{
    color: #2a7eac;
    font-family: RobotoRegular;
    font-size: 24px;
    margin-bottom: 26px;
  }
  width: 100%;
  max-width: 303px;
  margin: 0 auto;
  label{
    font-family: RobotoRegular;
    font-size: 14px;
    color: red;
  }
  input[type='text'],
  input[type='email'],
  input[type='number']{
    width: calc(100% - 17px);
    height: 35px;
    padding-left: 17px;
    margin-top: 7px;
    margin-bottom: 7px;
    font-family: RobotoRegular;
    font-size: 14px;
    border-radius: 0!important;
    border: 1px solid #9d9d9d;
    transition: border-color .2s linear;
    &:focus{
      border-color: #2a7eac;
    }
  }
  textarea{
    width: calc(100% - 34px);
    margin-top: 7px;
    height: 87px;
    padding-top: 17px;
    padding-left: 17px;
    padding-right: 17px;
    font-family: RobotoRegular;
    border-radius: 0!important;
    font-size: 14px;
    border: 1px solid #9d9d9d;
    transition: border-color .2s linear;
    &:focus{
      border-color: #2a7eac;
    }
  }
  button{
    width: 100%;
    background: #2a7eac;
    border-radius: 0!important;
    border: none;
    text-transform: uppercase;
    color: #fff;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
    margin-top: 38px;
  }
  input[type='checkbox']{
    opacity: 0;
    overflow: hidden;
    height: 0;
    width: 0;
  }
}
.form-checkbox{
  margin-top: 14px;
  margin-bottom: 14px;
  position: relative;
  &.active{
    label{
      &.label{
        &::before{
          background-position: center;
        }
      }
    }
  }
  &.error{
    &>label{
      display: block;
    }
  }
  label{
    cursor: pointer;
    &.label{
      &::before{
        content: ' ';
        width: 20px;
        height: 20px;
        border: 1px solid #9d9d9d;
        position: absolute;
        top: 1px;
        left: -35px;
        background-image: url('../img/check.png');
        background-repeat: no-repeat;
        background-position: -40px;
      }
    }
    font-family: RobotoLight;
    left: 35px;
    position: absolute;
    top: 0;
    color: #2e2e2e;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    user-select: none;
    a{
      color: #2e2e2e;
      &:hover{
        text-decoration: none;
      }
    }

  }
  #checkbox-error{
    position: absolute;
    top: 40px;
    left: 35px;
    display: block;
    color: red;
  }
}
